.container

    // Header
    .header.mt-md-5

        .header-ecored
            h1 2. Constituir una Empresa Asociativa de Trabajo



    .row.justify-content-center.mb-0.mt-5
        .col-12.col-md-8
            p.text-center
                img(src="assets/images/pages/tema-2/semicirculo.svg", alt="").img-fluid


    section.mb-5

        .box_01.p-4.m-0
            .row.align-items-center
                .col-auto.align-self-center
                    p.text-center
                        img(src="assets/images/pages/tema-2/icon1.svg", style="max-width: 60px").img-fluid
                .col
                    h3.text-white.my-0 Decreto 1100 de 1992, código de trabajo y el código de comercio 
        .bg-white.p-4.m-0
            .row.align-items-center
                .col-auto.align-self-center
                    img(src="assets/images/pages/tema-2/img0.svg", alt="").img-fluid
                .col
                    p Por expresa disposición legal, la personería jurídica de las EAT será reconocida desde su inscripción en la Cámara de Comercio del domicilio social, siempre que acredite los requisitos (artículo 4º y artículo 5º, Ley 10 de 1991).
                    p Las empresas se clasifican de acuerdo con la actividad económica que desempeñan: 
                    
                    ul.bg-box1.my-5
                        li  
                            span Servicios
                        li  
                            span Comerciales
                        li  
                            span Industriales 
                        li  
                            span Mineras
                        li  
                            span Agrícolas 
                        li  
                            span Agropecuarias 

        
    section.my-5

        .box_02.p-4.m-0
            .row.align-items-center
                .col-auto.align-self-center
                    img(src="assets/images/pages/tema-2/icon11.svg", style="max-width: 60px").img-fluid
                .col
                    h3.text-white.my-0 Requisitos legales de constitución de una EAT 
        .bg-white.p-4.m-0
            .row.align-items-center
                .col-auto
                    p.text-center
                        img(src="assets/images/pages/tema-2/img1.svg", alt="").img-fluid
                .col
                    p Para la elaboración de alguno de los requisitos legales de constitución, estos se pueden consultar a través de la página de la Cámara de Comercio de la ciudad de residencia, encontrando:
                    
                    ol.my-5.bg-box2(type='a')
                        li  
                            span #[strong Escritura pública:] los asociados o fundadores deben ir a una notaría, en forma personal o mediante apoderado, a otorgar el instrumento público que debe contener los estatutos.
                        li.my-3  
                            span #[strong Acta de constitución con estatutos:] las personas designadas para el cargo de presidente y secretario de la reunión deberán realizar reconocimiento previo de contenido y firma ante el notario en el acta y estatutos, o realizar presentación personal ante el funcionario autorizado de la Cámara de Comercio respectiva.
                        li  
                            span #[strong Documento privado:] cuando la empresa se constituye por documento privado, todos los asociados o fundadores deben firmar el documento de constitución, que debe contener la adopción de los estatutos. El documento debe ser reconocido ante un juez o notario, o deberá contener la presentación personal ante el funcionario autorizado de la Cámara de Comercio. 


    section.my-5

        .box_03.p-4.m-0
            .row.align-items-center
                .col-auto.align-self-center
                    p.text-center
                        img(src="assets/images/pages/tema-2/icon2.svg", style="max-width: 60px").img-fluid
                .col
                    h3.text-white.my-0 Aportes
        .bg-white.p-4.m-0
            .row.align-items-center
                .col-auto
                    img(src="assets/images/pages/tema-2/img2.svg", alt="").img-fluid
                .col
                    p El pilar de una Empresa Asociativa de Trabajo es el sector de la economía solidaria. Por esta razón los aportes son su fundamento.
                    
                    ol.my-5.bg-box2(type='a')
                        li  
                            span #[strong Aportes laborales:] esfuerzo de trabajo personal, habilidades, competencias y experiencia que serán evaluados semestralmente y aprobados por la junta de asociados.
                        li.my-3  
                            span #[strong Aportes adicionales:] conformados por la tecnología, propiedad intelectual o industrial registrada a nombre del aportante.
                        li  
                            span #[strong Activos:] bienes muebles o inmuebles que los miembros aporten a la empresa.
                        li  
                            span #[strong Dinero:] se podrá aportar dinero y se hará registro en una cuenta especial por cada asociado. 

    section.my-5

        .box_04.p-4.m-0
            .row.align-items-center
                .col-auto.align-self-center
                    p.text-center
                        img(src="assets/images/pages/tema-2/icon3.svg", style="max-width: 60px").img-fluid
                .col
                    h3.text-white.my-0 El capital
        .bg-white.p-4.m-0
            .row.align-items-center
                .col-auto
                    img(src="assets/images/pages/tema-2/img3.svg", alt="").img-fluid
                .col
                    p Conformado por los diferentes tipos de aportes, también por donaciones o auxilios entregados por empresas privadas o ayuda internacional. Capital semilla otorgado por las redes de apoyo a las EAT, como Fondo Emprender, Banco de la Mujer, Bancóldex, entre otras.

    section.my-5

        .box_05.p-4.m-0
            .row.align-items-center
                .col-auto.align-self-center
                    p.text-center
                        img(src="assets/images/pages/tema-2/icon4.svg", style="max-width: 60px").img-fluid
                .col
                    h3.text-white.my-0 Deberes, derechos y obligaciones de los asociados de una EAT 
        .bg-white.p-4.m-0
            .row.align-items-center
                .col-auto
                    img(src="assets/images/pages/tema-2/img4.svg", alt="").img-fluid
                .col
                    p Se establecerán en los estatutos que regirán los destinos de la EAT y estarán contemplados en el acta de constitución, escritura pública y/o documento privado.